.contact-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.contact-top-pic {
  height: 130px;
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
}

.contact-top img {
  position: absolute;
  height: 120px;
  z-index: 2;
  top: 125px;
}

.contact-top hr {
  position: absolute;
  top: 204px;
  width: 90%;
  border: 0;
  height: 1px;
}

.contact-bot {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 750px;
}

.top-text {
  font-size: x-large;
  text-align: center;
  line-height: 1.4;
  width: 70%;
  margin: 0 auto;
  font-weight: 100;
  padding-bottom: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: large;
}

#message {
  height: 200px;
  line-height: 1.6;
  font-size: large;
  margin-top: 8px;
  font-family: consolas;
  border-radius: 5px;
  padding: 10px;
}

#email,
#name {
  height: 50px;
  margin-top: 8px;
  font-size: 18px;
  font-family: consolas;
  border-radius: 5px;
  text-indent: 10px;
}

#submit {
  height: 44px;
  width: 80px;
  margin: 0 auto;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
  font-size: large;
}

@media screen and (min-width: 640px) {
  .contact-form {
    width: 560px;
  }

  .top-text {
    font-size: xx-large;
    width: 560px;
    padding-bottom: 70px;
  }
}
