

.contact-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;

}


.contact-top-pic {
    height: 130px;
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(10, 10, 10);
    border-radius: 50%;
    z-index: 1;
  }
  
  .contact-top img {
    position: absolute;
    height: 120px;
    z-index: 2;
    top: 125px;
  }
  
  .contact-top hr {
    
    position: absolute;
    top: 204px;
    width: 90%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(245, 245, 215, 0),
      rgba(245, 245, 215, 0.75),
      rgba(245, 245, 215, 0)
    );
  }

.contact-bot {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  height: 750px;
}

.top-text {
  font-size: x-large;
  text-align: center;
  line-height: 1.4;
  width: 70%;
  margin: 0 auto;
  /* border: 1px solid white; */
  font-weight: 100;
  padding-bottom: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-around;
  /* border: 1px solid white; */
  width: 90%;
  margin: 0 auto;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: large;
}

#message {
  height: 200px;
  line-height: 1.6;
  font-size: large;
  margin-top: 8px;
  color: white;
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  font-family: consolas;
  border-radius: 5px;
  padding: 10px;
}

#email, #name {
  height: 50px;
  margin-top: 8px;
  color: white;
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  font-size: 18px;
  font-family: consolas;
  border-radius: 5px;
  text-indent: 10px;
}

#submit {
  height: 44px;
  width: 80px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: var(--secondary-color) 1px solid;
  cursor: pointer;
  font-weight: 500;
  font-size: large;
}

#submit:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: var(--primary-color) 1px solid;
  transition-duration: 0.4s;
}


@media screen and (min-width: 640px) {
  .contact-form {
    width: 560px;
  }

  .top-text {
    font-size: xx-large;
    width: 560px;
    padding-bottom: 70px;
  }
}