*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;

  /* text-rendering: optimizeLegibility; */
  -webkit-font-smoothing: antialiased;
}

header {
  position: fixed;
  width: 100%;
  height: 70px;

  z-index: 4;
}

#header-container {
  font-family: "Roboto Slab", serif;

  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  height: 70px;
  /* position: fixed; */
  /* width: 100%; */
  font-size: 24px;
  z-index: 5;
}

main {
  /* width: 80%;
    margin: 0 auto; */
  padding-top: 140px;
}

#nav-text-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
  /* margin-right: 20px; */
}

#all-content-about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 860px;
  /* border: 1px white solid; */
  padding-bottom: 160px;
}

#about-me p {
  text-align: center;
}

#pic-text-container {
  height: 235px;
  width: 235px;
  /* border: 1px white solid; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background-color: var(--new-orange); */

  border-radius: 50%;
}

#about-me img {
  height: 210px;
  z-index: 1;
}

#only-text-containter {
  font-size: larger;
}

#about-me hr {
  width: 40%;
  border: 0;
  height: 2px;
}

svg {
  height: 70px;
  width: 70px;
}

#about-me-bot-text,
#recent-work-text {
  line-height: 1.6;
  font-weight: 300;
}

#about-me-bot-text h2,
#recent-work-text h2,
.details h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 900;
}

#footer-icon-text p,
#all-content-skills > * {
  line-height: 1.4;
}

#about-me-bot-text {
  text-align: center;
  /* border: 1px white solid; */
}

[id*="all-content-"] {
  width: 80%;
  margin: 0 auto;
}

#mf-name {
  font-weight: 500;
  padding: 18px 4px 56px 4px;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  font-size: 16px;
  /* border: 1px white solid; */
}

/* #mf-title {
  font-weight: 300;
  margin-top: 14px;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--secondary-color);
  z-index: 2;
} */

#all-content-skills {
  /* margin: 0 auto; */
  height: 1300px;
  /* border: 1px red solid; */
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 70%;
  top: 870px;
  z-index: 1;
  left: 15%;
  text-align: center;
  /* box-shadow: 1px 1px 10px 1px rgba(40,44,52,.5); */
  justify-content: space-between;
}

#skills li {
  list-style: none;
  text-align: center;
  /* text-indent: 20px; */
  font-weight: 300;
  /* font-size: 14px; */
}

#all-content-skills > * {
  /* width: 80%; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 32%;
  justify-content: space-around;
  border-radius: 15px;
  padding: 2% 10%;
}

.card-title {
  /* font-weight: 500; */
  padding-bottom: 5px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 18px;
}

.title {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  padding: 4px 0;
  font-size: 20px;
}

#skills svg path {
  stroke-width: 0.5;
}

.skills-text,
.card-text {
  font-weight: 300;
  font-size: 16px;
}

#empty-section {
  height: 1000px;
  /* border: 1px solid red; */
}

#recent-work {
  height: 1900px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 300px;
  text-align: center;
  justify-content: space-between;
  padding-bottom: 80px;
}

#recent-work-text a, #recent-work-text a:active, #recent-work-text a:visited {
  text-decoration: none;
}

#recent-projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
}

#recent-work-text {
  margin-bottom: 20px;
}

.recent-project {
  height: 300px;
  width: 400px;
  /* border: 1px solid white; */
  border-radius: 10%;
  cursor: pointer;
}

#recent-work-text p {
  padding: 16px;
}

.recent-project img {
  height: 100%;
  width: 100%;
  border-radius: 10%;
  /* box-shadow: rgba(245,245,215,.2) 3px 3px 5px 1px; */
}

footer {
  display: flex;
  flex-direction: column;
  height: 220px;
  align-items: center;
  justify-content: space-around;
  /* padding: 10px 0; */
  /* border: white 1px solid; */
}

#footer-icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 40%;
  /* border: white 1px solid; */
}

#footer-socials {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  justify-content: space-around;
}

#footer-socials > * {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-socials a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-socials img {
  height: 32px;
  width: 32px;
}

/* canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 572px; 
  height: 352px;
  transform: translate(-50%, -50%);
  z-index: 3;
} */
