*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color:  rgb(40,44,52);
    --secondary-color: rgb(245,245,215);
}

html, body {
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
}

header {
    font-family: 'Share Tech Mono', monospace;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 900;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    height: 70px;
    position: fixed;
    width: 100%;
    font-size: 22px;
    z-index: 2;
    box-shadow: 1px 1px 10px 1px rgba(40,44,52,.1);
}

main {
    /* width: 80%;
    margin: 0 auto; */
    padding-top: 160px;
}

#nav-text-containter {
    width: 50%;
    display: flex;
    justify-content: space-around;
    /* margin-right: 20px; */
}

#about-me {
    background-color: var(--primary-color);
}

#skills {
    background-color: var(--secondary-color);
}

#all-content-about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 900px;
    /* border: 1px white solid; */
    padding-bottom: 160px;
}

#about-me p {
    text-align: center;

}

#pic-text-container {
    height: 200px;
    /* border: 1px white solid; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#about-me img {
    height: 210px;
    border-radius: 5%;
    /* border: 4px var(--secondary-color) solid; */
    /* display: block; */
    /* margin: 0 auto; */
    /* background-color: var(--secondary-color); */
}

#about-me hr {
    width: 60%;
}

svg {
    height: 70px;
    width: 70px;
}

#about-me-bot-text {
    text-align: center;
    /* border: 1px white solid; */
}

[id*="all-content-"] {
    width: 80%;
    margin: 0 auto;
}



#mf-name {
    font-weight: 500;
    padding: 10px 0 4px 0;
}

#mf-title {
    font-weight: 100;
}

#all-content-skills {
    /* margin: 0 auto; */
    height: 1300px;
    /* border: 1px red solid; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 70%;
    top: 900px;
    z-index: 1;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    left: 15%;
    text-align: center;
    /* box-shadow: 1px 1px 10px 1px rgba(40,44,52,.5); */
    justify-content: space-between;
}

#skills li {
    list-style: none;
    text-align: start;
    /* text-indent: 12px; */
}

#all-content-skills > * {
    box-shadow: 1px 1px 10px 1px rgba(40,44,52,.3);
    /* width: 80%; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 32%;
    justify-content: space-around;
    border-radius: 15px;
    padding: 2% 10%;
}



#empty-section {
    background-color: var(--secondary-color);
    height: 1000px;
    /* border: 1px solid red; */
}

#recent-work {
    height: 1800px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-top: 300px;
    text-align: center;
    justify-content: space-around;
}

.recent-project {
    height: 300px;
    width: 400px;
    border: 1px solid white;
    border-radius: 10%;
}

#recent-work-text p {
    padding: 16px;
}

/* #skill-cards {
    height: 100%;
    background-color: var(--secondary-color);
} */