@media screen and (max-width: 380px) {
  #header-container {
    font-size: 18px !important;
  }

  .recent-project {
    width: 360px;
    height: 270px;
  }

  #footer-socials {
    width: 60%;
  }

  #about-me-bot-text h2 {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 381px) and (max-width: 460px) {
  #header-container {
    font-size: 18px !important;
  }
}

@media screen and (min-width: 730px) {
  #about-me-bot-text,
  #recent-work-text {
    width: 75%;
    font-size: larger;
  }
  #footer-socials,
  #footer-icon-text {
    width: 25%;
  }
  #nav-text-container {
    justify-content: space-around;
    width: 210px;
  }
}

@media screen and (min-width: 930px) {
  #recent-work-text {
    width: 50%;
  }
  #about-me-bot-text {
    width: 60%;
  }
  #footer-socials,
  #footer-icon-text {
    width: 18%;
  }
  #nav-text-container {
    justify-content: space-around !important;
    width: 210px !important;
  }
  #all-content-skills {
    height: 450px;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    left: 5%;
  }

  #all-content-skills > * {
    height: 100%;
    border-radius: 0;
    padding: 0 2%;
    max-width: 33%;
  }
  #empty-section {
    height: 200px;
    display: block;
  }

  #front-end {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  #game-dev {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  #footer-icon-text p {
    font-size: larger;
    /* padding-top: 12px; */
  }
}

@media screen and (min-width: 1230px) {
  #header-container {
    width: 70%;
    margin: 0 auto;
  }
  #recent-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 80%;
  }

  .skills-text {
    width: 75%;
    margin: 0 auto;
  }

  .recent-project {
    margin-bottom: 60px;
  }
  #recent-work {
    height: 1200px;
  }

  footer > * {
    width: 20%;
  }

  #footer-socials {
    width: 15%;
  }

  #about-me hr {
    width: 30%;
  }
}

@media screen and (min-width: 1350px) {
  #header-container {
    width: 60%;
  }
}

@media screen and (min-width: 1490px) {
  #header-container {
    width: 50%;
  }

  #recent-work {
    width: 60%;
  }

  #all-content-skills {
    width: 70%;
    left: 15%;
  }

  footer > * {
    width: 15%;
  }

  #footer-socials {
    width: 9%;
  }

  #about-me-bot-text {
    width: 36%;
  }

  #recent-work-text {
    width: 40%;
  }

  #about-me hr {
    width: 20%;
  }
}
