.raise:hover,
.raise:focus {
  transform: translateY(-0.7em);
  transition-duration: 0.6s;
}

/* Adding text display to projects animations */
.details {
  /* visibility: hidden; */
  padding: 5% 8%;
  /* position: relative; */
  /* position: absolute; */
  /* content: ""; */
  width: 100%;
  height: 100%;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%) rotateY(90deg); */
  transform: translateY(-304px);
  opacity: 0;
  transition: all 0.8s ease;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.6;
}

.raise:focus .details,
.raise:hover .details {  
  opacity: 0.9;
}

.details h1 {
  padding-bottom: 16px;
}

/* Class to wrap box on text link */
/* .link-wrap {
  text-decoration: none;
  position: relative;
  padding: 16px 7px;
  border-top: 2px solid rgba(255, 255, 255, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: padding 0.3s, border-color 0.3s;
}

.link-wrap:focus,
.link-wrap:hover {
  padding: 5px 7px;
  border-color: rgba(230, 90, 27, 1);
  outline: none;
}

.link-wrap::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 0;
  color: rgba(255, 255, 255, 0);
  border-left: 2px solid rgba(255, 255, 255, 0);
  content: "#";
  transition: max-height 0.3s, border-color 0s;
}

.link-wrap::after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 5px;
  max-height: 0;
  color: rgba(255, 255, 255, 0);
  border-right: 2px solid rgba(255, 255, 255, 0);
  content: "#";
  transition: max-height 0.3s, border-color 0s;
}

.link-wrap:focus::before,
.link-wrap:hover::before,
.link-wrap:focus::after,
.link-wrap:hover::after {
  max-height: 100%;
  transition-delay: 0.28s;
  border-color: rgba(230, 90, 27, 1);
} */

/* Adding underline animation that wraps container when hover. Change color line 78 and 86 */

.hover-wrap a {
  padding: 0.2em calc(0.2em * 1.2);
  border: 2px solid transparent;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

.hover-wrap a:after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: calc(0.2em * 1.2);
  right: calc(0.2em * 1.2);
  height: 2px;
  /* background: #f26522; */
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s,
    right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s,
    left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
  transform-origin: left;
}
.hover-wrap .line {
  position: absolute;
  /* background: #f26522; */
}
.hover-wrap .line.-right,
.hover-wrap .line.-left {
  width: 2px;
  bottom: -2px;
  top: -2px;
  transform: scale3d(1, 0, 1);
}
.hover-wrap .line.-top,
.hover-wrap .line.-bottom {
  height: 2px;
  left: -2px;
  right: -2px;
  transform: scale3d(0, 1, 1);
}
.hover-wrap .line.-right {
  right: -2px;
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
  transform-origin: top;
}
.hover-wrap .line.-top {
  top: -2px;
  transition: transform 0.08s linear 0.43s;
  transform-origin: left;
}
.hover-wrap .line.-left {
  left: -2px;
  transition: transform 0.08s linear 0.51s;
  transform-origin: bottom;
}
.hover-wrap .line.-bottom {
  bottom: -2px;
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transform-origin: right;
}
.hover-wrap a:hover .text,
.hover-wrap a:active .text {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.hover-wrap a:hover:after,
.hover-wrap a:active:after {
  transform: scale3d(0, 1, 1);
  right: -2px;
  left: -2px;
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s,
    right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}
.hover-wrap a:hover .line,
.hover-wrap a:active .line {
  transform: scale3d(1, 1, 1);
}
.hover-wrap a:hover .line.-right,
.hover-wrap a:active .line.-right {
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
  transform-origin: bottom;
}
.hover-wrap a:hover .line.-top,
.hover-wrap a:active .line.-top {
  transition: transform 0.08s linear 0.4s;
  transform-origin: right;
}
.hover-wrap a:hover .line.-left,
.hover-wrap a:active .line.-left {
  transition: transform 0.08s linear 0.48s;
  transform-origin: top;
}
.hover-wrap a:hover .line.-bottom,
.hover-wrap a:active .line.-bottom {
  transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  transform-origin: left;
}

/* Animation 3D nav */
.block-menu {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.block-menu a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  padding: 15px 10px;
}

.three-d {
  perspective: 201px;
  transition: all 0.07s linear;
  position: relative;
  cursor: pointer;
}
/* completing the animation */
.three-d:hover .three-d-box,
.three-d:focus .three-d-box {
  transform: translateZ(-25px) rotateX(90deg);
}

.three-d-box {
  transition: all 0.3s ease-out;
  transform: translatez(-25px);
  transform-style: preserve-3d;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.front {
  transform: rotatex(0deg) translatez(25px);
}

.back {
  transform: rotatex(-90deg) translatez(25px);
  /* color: #ffe7c4; */
}

.front,
.back {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  padding: 15px 10px;

  pointer-events: none;
}

/* Logo header animation when hover */
#logo-container:hover,
#logo-container:active,
#logo-container:focus {
  stroke-dasharray: 10;
  animation: logo-header 60s linear infinite;
}

@keyframes logo-header {
  0% {
    stroke-dashoffset: 500;
  }
  25% {
    stroke-dashoffset: 0;
  }
}

/* Page transition. Supported for different browsers */
.fadein {
  -webkit-animation: fadein ease 1.2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein ease 1.2s; /* Firefox < 16 */
  -ms-animation: fadein ease 1.2s; /* Internet Explorer */
  -o-animation: fadein ease 1.2s; /* Opera < 12.1 */
  animation: fadein ease 1.2s;
}

@keyframes fadein {
  from {
    transform: translateY(1em);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    transform: translateY(1em);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    transform: translateY(1em);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    transform: translateY(1em);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    transform: translateY(1em);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Deprecated bounce animation */
/* .bounce-5 {
    animation: bounce-5 2s linear;
}

@keyframes bounce-5 {
    0%   { transform: scale(1,1) translateY(-500px); }
    60%  { transform: scale(1,1) translateY(0); }

    68%  { transform: scale(1,1) translateY(-40px); }
    82%  { transform: scale(1,1)    translateY(0); }

    87%  { transform: scale(1,1)    translateY(-20px); }
    93%  { transform: scale(1,1)    translateY(0); }

    95%  { transform: scale(1,1) translateY(-10px)}
    97% { transform: scale(1,1)    translateY(0); }

    98%  { transform: scale(1,1) translateY(-3px)}
    100% { transform: scale(1,1)    translateY(0); }
} */

/* Current bounce animation. Coming from right side */
.bounce-in-right {
  animation: bounce-in-right 2s ease;
}

@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(8000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes showup {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  65% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.bounce-in-left {
  animation: bounce-in-left 2s ease;
}

@keyframes bounce-in-left {
  0% {
    opacity: 0;
    transform: translateX(-8000px);
  }
  60% {
    opacity: 1;
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes showup {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  65% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

/* Completion of bounce animation by showing face and text at the end */
.showup {
  animation: showup 3s;
}

/* Cool animation that might be helpful */
.flip {
  backface-visibility: visible !important;
  animation: flip 2s ease;
}
@keyframes flip {
  0% {
    transform: perspective(400px) rotateY(0);
    animation-timing-function: ease-out;
  }
  40% {
    transform: perspective(400px) translateZ(150px) rotateY(170deg);
    animation-timing-function: ease-out;
  }
  50% {
    transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    animation-timing-function: ease-in;
  }
  80% {
    transform: perspective(400px) rotateY(360deg) scale(0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: perspective(400px) scale(1);
    animation-timing-function: ease-in;
  }
}
